repos:
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
    -   id: clang-format
        args: ['-i', '--style={BasedOnStyle: Google, SortIncludes: false}']
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
